#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.middleground{
  display: flex;
  justify-content: center;
  background-color: aqua;
}
.foreground{
  background-color:black;
  border-radius: 80px;
  padding:80px;
}
.file_drop_location{
  border-style: dashed;
  border-width: 4px;
  border-radius:80px;
  padding:220px;
}