#root {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* LAYERS */
.background,
.middleground,
.foreground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.background {
  z-index: 1;
  background: teal;
  background-image: url("pdfMerge.svg");
  background-size: 100%;
}

.middleground {
  z-index: 2;
  background: rgba(0,0,0,0.2);
}

.foreground {
  z-index: 3;
  height:100%;
  width:70%;
  padding: 50px 0px 50px 0px;
}

/* DROPZONE */
.dropzone {
  padding:100px;
  justify-content: center;
  border-style: dashed;
  border-radius: 80px;
  border-width: 5px;
  border-color: #EADDCA;
  background: #00CECB;
  padding: 40px;
}

.dropzone:hover {
  background-color: #01b3b0;
}

/* DROP TEXT */
.dropText {
  font-family: "Cherry Bomb One", system-ui;
  font-size: fill;
  font-style: normal;
}
