/* ROOT CONTAINER */
#root {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: auto;
}

/* LAYER BASE STYLES */
.background,
.middleground,
.foreground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* BACKGROUND */
.background {
  z-index: 1;
  background: teal;
  background-image: url("pdfMerge.svg");
  background-size: cover;
  background-position: center;
}


/* FOREGROUND */
.foreground {
  z-index: 3;
  padding: 0;
}



/* DROPZONE */
.dropzone {
  width:60%;
  height:35%;
  border-radius: 1.5em;
  background: #00cecbd8;
  padding: 4em 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: background-color 0.2s ease;
}

.dropzone:hover {
  background-color: #01b3b0cf;
  cursor: pointer;
}

/* DROP TEXT */
.dropText {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  color: #ffffea;
  font-size: 2.5em;
}

/* FILE ICON */
.file {
  width: 120px;
  height: 120px;
  margin-top: 1em;
}
