#root {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}


/* LAYERS */
.background,
.middleground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.background {
  display: flex;
  flex:1;
  z-index: 1;
  justify-content: center;
  align-items: center;
  background: teal;
  background-image: url("pdfMerge.svg");
  background-size: 100%;
}

.middleground {
  z-index: 2;
  flex: 2;
  justify-content: center;
  align-items: center;

  background: rgba(0,0,0,0.2);
}

.foreground {
  z-index: 3;
  flex:3;
  align-items: center;

  justify-content: center;
  width:auto;
  height:auto;
  margin:0 auto;
  padding:20em;

}
.mergeSec{
  background-color: black;
  width:auto;
  height:auto;
  padding:20em;
}

/* DROPZONE */
.dropzone {
  border-radius: 2em;
  background: #00cecbd8;
  padding:12em 7em 12em 7em;
}

.dropzone:hover {
  background-color: #01b3b0cf;
}

/* DROP TEXT */
.dropText {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  color: #ffffea;
  font-style: normal;
  padding-left: 6em;
  font-size: 3.5em;
}
.file{
  width:15%;
  height:15%;
  padding-left:24em;
  
}