#root {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* LAYERS */
.background,
.middleground,
.foreground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.background {
  z-index: 1;
  background: teal;
}

.middleground {
  z-index: 2;
  background: rgba(0,0,0,0.2);
}

.foreground {
  z-index: 3;
  background: transparent;
}

/* WATERMARK TEXT */
.backDrop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 680px;
  font: 100px;
  font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
  font-weight: 900px;
  font-style: normal;
  line-height: 600px;
  z-index: 2;
  pointer-events: none;
  user-select: none;
}

/* DROPZONE */
.dropzone {
  border-style: dashed;
  border-radius: 80px;
  border-width: 5px;
  border-color: #EADDCA;
  background: transparent;
  padding: 40px;
}

.dropzone:hover {
  background-color: #7d7957;
}

/* DROP TEXT */
.dropText {
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 400;
  font-size: 40px;
  font-style: normal;
}
